<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lessons</title>
    <script type="text/javascript" src="vue.min.js"></script>
    <link rel="stylesheet" href="index.css">
</head>
<body>

<div id="container">
    <div id="header">
        <img v-on:click="toggleCart()" v-if="checkoutButtonShown" id="checkoutButton" src="images/checkout-icon.png">
    </div>
    <div id="search-container">
        <input type="text" v-model="searchString" v-on:keyup="searchFn()" placeholder="Search...">
    </div>
    <div id="filters">
        <h1>Sort</h1>
        <select id="sorting-criteria" v-model="selectedCriteria">
            <option v-for="criteria in sortingCriteria" v-bind:value="criteria">{{criteria}}</option>
        </select>
        <select id="sorting-order" v-model="selectedOrder">
            <option v-for="order in sortingOrder" v-bind:value="order">{{order}}</option>
        </select>
    </div>
    <ul id="lesson-list" class="lesson-container">
        <li v-if="lessonListShown" v-for="lesson in sortedLessons">
            <div>
                <p>Subject: {{lesson.subject}}</p>
                <p>Location: {{lesson.location}}</p>
                <p>Price: £{{lesson.price}}</p>
                <p>Spaces: {{lesson.space}}</p>
                <button v-on:click="addToCart(lesson)">Add to cart</button>
            </div>
            <img class="lesson-image" :src="lesson.imageURL" alt="">
        </li>
    </ul>
    <ul id="cart" class="lesson-container">
        <li v-if="cartShown" v-for="lesson in cart">
            <div>
                <p>Subject: {{lesson.subject}}</p>
                <p>Location: {{lesson.location}}</p>
                <p>Price: £{{lesson.price}}</p>
                <p>Quantity: {{lesson.quantity}}</p>
                <button v-on:click="removeFromCart(lesson)">Remove from cart</button>
            </div>
            <img class="lesson-image" :src="lesson.imageURL" alt="">
        </li>
    </ul>
    <div id="checkout" v-if="cartShown">
        <h1>Checkout</h1>
        <p>Name:</p>
        <input type="text" id="name-input">
        <p>Phone:</p>
        <input type="text" id="phone-input">
        <button v-on:click="checkout()">Checkout</button>
    </div>
</div>
</div>

<script type="text/javascript" src="lessons.js"></script>
<script type="text/javascript" src="index.js"></script>
</body>
</html>